@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap');
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: rgba(151, 192, 201, 0.2);
}

/* Navbar Section */

#navbar {
  width: 100%;
  display: flex;
  backdrop-filter: blur(1rem);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.5rem;
  align-items: center;
  position: fixed;
  z-index: 2;
}

#navbar ul {
  display: flex;
  /* transition: all 0.3s ease-in-out; */
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  font-family: 'Tiro Devanagari Marathi', serif;
  color: black;
  margin: 0rem 1rem;
  transition: all 0.3s ease-in-out;
  border: 3px solid rgba(255, 255, 255, 0);
}

#navbar ul li a:hover,
#navbar ul li a:active {
  background-color: rgb(22, 46, 60, 0.2);
  border-radius: 0.5rem;
}

.item {
  margin: 0rem 1rem;
  transition: all 0.5s;
}

#logo {
  width: 5rem;
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
  filter: invert(50%);
  border: 2px solid white;
  cursor: pointer;
  border-radius: 1rem;
}

.fa-solid {
  color: rgb(141, 141, 141);
  transition: 0.3s ease-in-out;
}

.fa-solid:hover {
  color: black;
}

/* Here for making search bar if we do use the width 0 and to transition then padding will cause lag
if we use display none then transition will not work
best way is to use visibility
do position absolute if we want it not to count it in the space between  */

.searchBar {
  visibility: hidden;
  padding: 0.2rem 0.7rem;
  margin: -0.2rem;
  margin-right: 0.3rem;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 82%;
  outline: none;
  font-size: 1rem;
  border: 2px solid black;
  transform: scaleX(0); /* Initial width is 0 */
  transform-origin: right center; /* Expand from the right */
  transition: 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.searchBar.searchOpen {
  transform: scaleX(1);
  box-sizing: border-box;
  visibility: visible;
}

.Icons,
#searchIcon {
  font-size: 1.5rem;
  margin: 0.2rem 0.2rem;
  cursor: pointer;
}

.search {
  right: 10.5rem;
  display: flex;
  justify-content: right;
  margin-top: 0.2rem;
  align-items: center;
  position: absolute;
}

.btn {
  padding: 0.3rem;
  background-color: rgba(29, 129, 119, 0.8);
  border-radius: 0.5rem;
  font-size: 1.1rem;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 1rem;
  font-weight: bold;
  transition: all 0.3s;
}

#navbar .toggle-bars {
  font-size: 1.5rem;
  margin-right: 2rem;
  cursor: pointer;
  display: none;
}

.NavIconContainer {
  display: flex;
  justify-content: right;
}

.navLinks {
  margin-left: 2rem;
}

.btn:hover {
  transform: scale(1.11);
}

.dropDownMenu {
  position: fixed;
  right: 1rem;
  top: 5rem;
  z-index: 100;
  background-color: rgb(92, 49, 6);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  font-family: 'Tiro Devanagari Marathi', serif;
  align-items: center;
  width: 18rem;
  height: 0;
  visibility: hidden;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
}

.dropDownMenu.open {
  height: 20rem;
  visibility: visible;
}

.dropDownMenu ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  overflow: hidden;
  transition: transform 0.2 ease-in;
}

.dropDownMenu ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.dropDownMenu.open ul li {
  transform: translateY(1rem);
  overflow: hidden;
}

.dropDownMenu ul li a:hover {
  transform: scale(1.1rem);
  border: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
}

#toggleContainer {
  display: none;
}

@media (min-width: 976px) {
  .dropDownMenu.open {
    display: none;
  }
}
@media (max-width: 975px) {
  #navbar ul {
    display: none;
  }

  .search {
    right: 5.5rem;
  }
  #navbar #toggleContainer {
    display: block;
  }
  #navbar #toggleContainer #bars {
    display: block;
  }
  #navbar #toggleContainer #X-mark {
    display: none;
  }
  .dropDownMenu {
    display: block;
  }
}

footer {
  background-color: rgb(75, 39, 3);
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  padding-bottom: 1rem;
}

.HorizontalLine {
  margin: 0.5rem;
}

#Copyright {
  text-align: center;
  margin-top: 1rem;
}

footer #footContainers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 356px) {
  #introSection h1 {
    font-size: 1.3rem;
  }
}

@media (min-width: 357px) and (max-width: 415px) {
  .searchBar {
    width: 55%;
  }
}

@media (min-width: 416px) and (max-width: 450px) {
  .searchBar {
    width: 55%;
  }
}

.FooterCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FooterCol h3 {
  cursor: pointer;
  margin-bottom: 1rem;
  display: inline;
  text-align: center;
  padding-bottom: 0.2rem;
  border-bottom: 3px solid rgb(106 244 255);
}

.FooterCol ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.3rem;
}

.FooterCol ul li {
  list-style: none;
  padding: 0.3rem;
  margin: 0.5rem;
}

.FooterCol ul li a {
  text-align: center;
  cursor: pointer;
}

.FooterCol ul li a:hover {
  text-decoration: underline;
}

.SocialMediaIcons {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0rem;
}

.SocialMediaIcons i {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.SocialMediaIcons i:hover {
  color: #989595;
}

.contactForm {
  display: flex;
  justify-content: center;
  height: 50rem;
  flex-direction: column;
}

.contactForm h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactForm form input {
  margin: 0.7rem;
  width: 40%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.contactForm form #MessageForm {
  height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  padding: 0.6rem;
  margin: 0.7rem;
  width: 40%;
}
.submitBtn {
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  background-color: rgb(92, 49, 6);
  color: white;
  font-weight: bold;
  width: 40%;
  border: 2px solid black;
}

.submitBtn:hover {
  background-color: rgba(92, 49, 6, 0.9);
  cursor: pointer;
}

@media (max-width: 760px) {
  .contactForm form input {
    width: 70%;
  }
  .submitBtn {
    width: 70%;
  }
  .contactForm form #MessageForm {
    width: 70%;
  }
}